<form action="/home/post_write" method="POST">
	제목 : <input type ="text" name="title">
	사진 url : <input type ="text" name="image">
	내용 : <textarea name="content"></textarea>
	<input type="submit" value="쓰기">

</form>