<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>


	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">



<!-- Latest compiled and minified JavaScript -->
</head>
<body>
 <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/home/index">Home</a></li>
            
            <% if current_user.nil? %>
            	<li role="presentation"><a href="/users/sign_in">Log in</a></li>
            <% else %>
            	<% if current_user.email == "admin@admin.com" %>
            		<li role="presentation"><a href="/home/post_read">작성</a></li>
            	<% end %>
            	<li role="presentation"><a href="/home/board">Board</a></li>
            	<li role="presentation"><a href="/home/logout">Log out</a></li>
            <% end%>
          </ul>
        </nav>
        <h3 class="text-muted">미니 타임라인</h3>
      </div>
<%= yield %>
	<footer class="footer">
	        <p>&copy; 2015 Company, Inc.</p>
	      </footer>

	    </div> <!-- /container -->


	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
